/* Font import link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

.header-banner-section {
    background-color: rgba(255, 144, 14, 0.1);
}

/* Default Styles */
.container {
    margin: 0px 200px 50px 200px;
}

.btn-primary {
    color: white;
    font-weight: 600;
    font-size: 20px;
    background-color: #FF900E;
    border-radius: 5px;
    padding: 20px 25px;
    border: none;
    margin-top: 20px;
}

/* Header Style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-weight: 700;
    font-size: 45px;
}

nav ul {
    display: flex;
    gap: 50px;
}

nav li {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
}

/* Banner Section styles */
.banner-section {
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    margin: 5px 0px;
}

.banner-subtitle {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.banner-image img {
    width: 100%;
    height: 100%;
    margin: 30px 0px;
    align-items: center;
}


/* Feature Styles */
.feature-section {
    display: flex;
    align-items: center;
    gap: 50px;
}

.feature-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.feature-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

strong {
    font-weight: 700;
    color: #131313;
}

span {
    color: #FF900E;
    font-weight: 700;
}

.feature-subtitle,
.facts-subtitle,
.sponsor-subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* 2nd Feature Section style */
.second-feature-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: center;
}

.btn-horizontal {
    width: 5px;
    height: 116px;
    background-color: #FF900E;
    border: none;
}

.second-feature-title {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}

.second-feature-title h2,
.facts-title,
.sponsor-title {
    font-weight: 700;
    font-size: 45px;
    margin: 0px;
    color: #131313;
}

.second-feature-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 0px;
}

.second-feature-details {
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.171);
    margin-top: 20px;
}

.second-feature-details h3 {
    font-weight: 600;
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}

.second-feature-button {
    background-color: #FF900E;
    color: white;
    width: fit-content;
    padding: 20px 40px;
    border-radius: 8px;
    position: relative;
    bottom: 0px;
    left: 0px;
}

.second-feature-img img {
    width: 100%;
    height: 100%;
    align-items: center;
}

.second-feature-button h3 {
    font-weight: 700;
    font-size: 65px;
    margin: 0px;
    text-align: center;
}

.second-feature-button h4 {
    font-weight: 500;
    font-size: 25px;
    margin: 0px;
    text-align: center;
}

/* Facts Styles */
.facts-section-title {
    width: 40%;
    margin-top: 100px;
}

.facts-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
}


.facts-box-content {
    text-align: center;
    padding: 15px 25px;
    width: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.facts-box-content:hover {
    transform: rotate(10deg);
    transition: width .5s, height .5s, transform .5s;
}

.facts-box-content h3 {
    color: #424242;
    font-weight: 600;
    font-size: 45px;
    margin: 0px;

}

.facts-box-content h4 {
    color: #727272;
    ;
    font-weight: 600;
    font-size: 25px;
    margin: 0px;
}


/* Our Sponsors Section */
.sponsor-section {
    margin: 150px 0px 100px 0px;
}

.sponsors-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.sponsor-subtitle {
    width: 50%;
}

.sponsor-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.sponsor-logo img {
    width: 96px;
    filter: grayscale();
}

/* Photo Gallery Styles */
.gallery-title {
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    color: #FF900E;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.photo-gallery>div img {
    width: 100%;
    box-shadow: 5px 5px 15px #7272723f;
}

.photo-gallery>div img:hover {
    zoom: 105%;
    transform: rotate(360deg);
    transition: width 1s, height 1s, transform 2s;
}



/* Footer Style */
.footer-section {
    background-color: #FFF4E7;
    padding: 25px 0px;
    margin-bottom: 100px;
    border-radius: 8px;
}

.footer-section p {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}











/* Responsive Styles */

/* Small Device */
@media only screen and (max-width:576px) {
    .container {
        margin: 10px 30px;
        padding: 0px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
    }

    .feature-section {
        flex-direction: column;
        gap: 50px;
        margin-top: 30px;
    }

    .feature-image {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

    .second-feature-section {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .second-feature-img img {
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .facts-section-title {
        width: 100%;
    }

    .facts-title {
        text-align: center;
    }

    .facts-box {
        flex-direction: column;
    }

    .sponsor-subtitle {
        width: 100%;
    }

    .sponsor-logo {
        flex-direction: column;
        gap: 25px;
    }

    .photo-gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}










/* Medium Device */
@media screen and (min-width:577px) and (max-width:992px) {
    .container {
        padding: 20px, 20px;
    }

    nav {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    nav ul {
        flex-wrap: wrap;
    }

    .feature-section {
        flex-direction: column;
        gap: 50px;
        margin-top: 30px;
    }

    .feature-image {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .second-feature-section {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .second-feature-img img {
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .facts-section {
        margin: 10px 30px;
    }

    .facts-section-title {
        width: 100%;
    }

    .facts-title {
        text-align: center;
    }

    .facts-subtitle {
        text-align: center;
    }

    .facts-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }

    .sponsor-subtitle {
        width: 100%;
    }

    .sponsor-logo {
        flex-wrap: wrap;
        gap: 25px;
    }

    .photo-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}